* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #333;
	overflow: hidden;
}

.hero-img {
	position: relative;
	background-image: url('https://wallpaperaccess.com/full/1118491.jpg');
	background-size: cover;
	background-position: left;
	z-index: 0;
}
.hero-shadow {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -10;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 2.5rem;
	padding: 1em 1.5em;
	color: #ddd;
	z-index: 5;
}

.btn {
	font-size: 2rem;
	margin-top: 2em;
	padding: 0.5em 1em;
	border-radius: 8px;
	border: none;
	color: rgb(25, 114, 216);
	cursor: pointer;
	transition: background 0.3s;
}

.btn:hover {
	background: black;
}

/* MEDIA */
@media (min-width: 768px) {
	.hero-text {
		font-size: 3.5rem;
		padding: 1em 1.5em;
	}
	p {
		max-width: 800px;
		text-align: center;
	}
	.btn {
		font-size: 3.5rem;
		margin-top: 1.5em;
		padding: 0.5em 1em;
	}
}
